# build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Vagrant
.vagrant/

# SonarQube / scanner outputs
.sonarqube/
sonarqube/
.scannerwork/

# IdentityServer signing keys (DO NOT COMMIT)
**/keys/*.json
**/node_modules/
**/keys/
